.a1{
  a2{
  margin-top: 6px;
  }
 .col-7{
   ul {
     li {
       a {
         margin-left: 8px;
         font-family: Roboto;
         width: 85px;
         height: 10px;
         color: black;
         margin-top: 8px;
       }
     }
   }
 }
  .col-2{
    button{
      margin-top: 8px;
      border-radius: 20px;
      background: #6F2CFF;
    }
  }
  .col-1{
    font-family: Roboto;
    width: 85px;
    height: 10px;
    color: black;
    margin-top: 8px;
  }
}
.b1{
  img{
    flex-shrink: 0;
  }
  p{
    margin-top: -425px;
  }
  h2{
    font-family:Roboto;
    font-style: normal;
    font-size: 54px;
    font-weight: 700;
    line-height: 61px; /* 112.963% */
  }
  .b3{
    color: #6F2DFF;
    font-family: Roboto;
    font-size: 54px;
    font-weight: 700;
    line-height: 61px; /* 112.963% */
    margin-top:-20px ;
  }
  .b4{
    border-radius: 27.5px 0px 0px 27.5px;
    border: 1px solid #6F2CFF;

    background: #FFF;
  }
  .b5{
    border-radius: 0px 27.5px 27.5px 0px;
    background: #6F2CFF;
  }
}
.d1{
margin-top: 140px;
p{
  color: black;
  font-family: Roboto;
}
}
.c1{
  h2{
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 112.5% */
  }
}
.c1{
  margin-top: 120px;
  button{
    margin-top: 8px;
    border-radius: 20px;
    background: #6F2CFF;
  }
  .hight{
    width: 1px;
    height: auto;
    flex-shrink: 0;
    background: #2f2d2d;
  }
}
.w1{
  margin-top: 120px;
}

.q1{
  background: #E0E0E0;
  flex-shrink: 0;

  .q2 {
    h2{
      margin-top: 160px;
       color: #1C1C1C;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;

    }
  }
  .col-10{
    img{
      -webkit-box-shadow: 1px 0px 8px 15px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 1px 0px 8px 15px rgba(34, 60, 80, 0.2);
      box-shadow: 1px 0px 8px 15px rgba(34, 60, 80, 0.2);
    }

  }
  .q3{
    margin-top: 100px;
  }
  .col-2{
    margin-top: 8px;
    border-radius: 30px;
    background: #6F2CFF;
  }
  .q4{
    margin-top: 8px;
    border-radius: 30px;
    background: slategrey;
  }
  .q5{
    margin-left: 324px;
    margin-top: 80px;
  }
}
.e1{
  background: #E0E0E0;
  h2{
    margin-top: 160px;
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  .e2{
    margin-left: 80px;
  }
  p{
    color: #6F2CFF;

    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px
  }
  .e3{
   width: 240px;
    height: 80px;
  }
  .e4{
    margin-left: 110px;
  }
}
.r1{
  h2{
    margin-top: 160px;
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  h6{
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }

}
.t1{
  h2{
    margin-top: 160px;
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  p{
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  h6{
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
y2{
  color: #FFF;

  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
}
.y3{
  width:auto ;
  height:1px;
  flex-shrink: 0;
  background:white;
}
.u1{
  background: #faf9f9;
  h2{
    margin-top: 160px;
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  p{
    font-family: Roboto;
  }
  .u2{
    margin-top: 140px;
  }
  .u3{
    flex-shrink: 0;
    border-radius: 30px;
    background: #6F2CFF;
  }
}
.i1{
h2{
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
  .b4{
    border-radius: 27.5px 0px 0px 27.5px;
    border: 1px solid #6F2CFF;

  }
  .b5{
    border-radius: 0px 27.5px 27.5px 0px;
    background: #6F2CFF;
  }

}
.o2{
  width: 22px;
  height: 16px;
  margin-left: 70px;
}
.p1{
  background: #20003C;
  width: auto;
  height: 640px;
  flex-shrink: 0;
}


